# LOCALHOST
DOMAIN_NAME=localhost
DOMAIN_CERT=./cert/localhost.cert
DOMAIN_KEY=./cert/localhost.cert

#DOCKER_IP=178.128.22.184
#DOMAIN_NAME=janus.damphat.com
#DOMAIN_CERT=/etc/letsencrypt/live/janus.damphat.com/fullchain.pem
#DOMAIN_KEY=/etc/letsencrypt/live/janus.damphat.com/privkey.pem

JANUS_RTP_PORTS=10000-10100

